<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><!-- 引用head -->
<head>
    <title>FanWorld</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" th:href="@{/css/frontend/vendor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/frontend/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/frontend/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/frontend/table.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- script
    ================================================== -->
    <script th:src="@{/js/frontend/modernizr.js}"></script>
</head>
<body>
<!-- 引用header -->
<div th:replace="fragments/header :: header"></div>
<section class="hero-section bg-gray d-flex align-items-center justify-content-center padding-medium pb-5">
    <div class="hero-content">
        <div class="container">
            <div class="row">
                <div class="text-center padding-medium no-padding-bottom">
                    <h1>About</h1>
                    <div class="breadcrumbs">
                <span class="item">
                  <a href="index.html">Home ></a>
                </span>
                        <span class="item">About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========================以下區域可放置其他內容======================== -->

<div class="container">
    <h1>周邊商品訂單</h1>
    <br>
    <table>
        <tr>
            <th>周邊訂單編號</th>
            <th>會員編號</th>
            <th>訂單日期</th>
<!--            <th>取貨方式</th>-->
<!--            <th>付款方式</th>-->
            <th>訂單狀態</th>
            <th>合計</th>
<!--            <th>收貨人</th>-->
<!--            <th>收貨地址</th>-->
<!--            <th>收貨人電話</th>-->
            <th>查看詳情</th>
        </tr>
        <tr th:each="productOrder : ${list}">
            <td th:text="${productOrder.orderNo}"></td>
            <td th:text="${productOrder.mem.memId}"></td>
            <td th:text="${productOrder.orderDate}"></td>
<!--            <td th:text="${productOrder.pickupOption}"></td>-->
<!--            <td th:text="${productOrder.paymentType}"></td>-->
            <td th:text="${productOrder.orderStatus}"></td>
            <td th:text="${productOrder.total}"></td>
<!--            <td th:text="${productOrder.recipient}"></td>-->
<!--            <td th:text="${productOrder.receiptAddr}"></td>-->
<!--            <td th:text="${productOrder.receiptMobile}"></td>-->
            <td>
                <a th:href="@{/frontend/mem/listOrderItem(orderNo=${productOrder.orderNo})}">
                    查看詳情
                </a>
            </td>
        </tr>
    </table>
</div>

<!-- ========================以上區域可放置其他內容======================== -->


<!-- 引用footer -->
<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/js/frontend/jquery-1.11.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/frontend/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/frontend/plugins.js}"></script>
<script type="text/javascript" th:src="@{/js/frontend/script.js}"></script>


</body>
</html>