<div th:fragment="chatbox">
	<div class="chat_button" sec:authorize="isAuthenticated()">
  <img th:src="@{/img/chatIcon.jpg}" alt="Chat Icon" class="chat_icon_img">
	</div>
	
	<div class="chat_container">
		<div id="myChatList" class="chat_list">
		
		</div>
		<div class="chat_box">
			<div id="chatRoom" class="chat_message"></div>
			<div class="chat_input">
				<div class="myIcon2 iconTag">
					<i class="fa fa-smile-o ipt_icon"></i>
					<div class="icon_block">
						<div class="emoji_icon" th:each="emoji : ${emojis}">
							<img th:src="@{'/img/emoji/' + ${emoji}}" alt="">
						</div>
					</div>
				</div>
				<div class="myIcon2">
					<img src="/img/annex.png" alt="">
				</div>
				<input class="sendMsg" type="text" placeholder="請輸入訊息">
				<div class="myIcon2">
					<i class="fa fa-share send_icon"></i>
				</div>
			</div>
		</div>
	</div>

</div>