<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 引用head -->
<head>
    <title>FanWorld</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    
    <meta name="memId" th:content="${session.memId}">
    

    <link rel="stylesheet" type="text/css" th:href="@{/css/frontend/vendor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/frontend/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/frontend/style.css}">
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/frontend/chat/webChat.css}">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- script
    ================================================== -->
    <script th:src="@{/js/frontend/modernizr.js}"></script>
</head>
<body>
<!-- 引用header -->
<div th:replace="frontend/fragments/header :: header"></div>
<section class="hero-section bg-gray d-flex align-items-center justify-content-center padding-medium pb-5">
    <div class="hero-content">
        <div class="container">
            <div class="row">
                <div class="text-center padding-medium no-padding-bottom">
                    <h1>FanWorld</h1>
                        <div class="breadcrumbs">
                <span class="item">
                  <a th:href="@{/frontend/index}">Home</a>
                </span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ========================以下區域可放置其他內容======================== -->





<!-- ========================以上區域可放置其他內容======================== -->

<!-- 引用chat -->
<div th:replace="frontend/fragments/chatbox :: chatbox"></div>


<!-- 引用footer -->
<div th:replace="frontend/fragments/footer :: footer"></div>

<script th:src="@{/js/frontend/jquery-1.11.0.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/frontend/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/frontend/plugins.js}"></script>
<script type="text/javascript" th:src="@{/js/frontend/script.js}"></script>
<script type="text/javascript" th:src="@{/js/frontend/cart/cart.js}"></script>
<script type="text/javascript" th:src="@{/js/frontend/chat/webChat.js}"></script>


</body>
</html>