<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- 引用head -->
<head>
    <title>FanWorld</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    
    <meta name="memId" th:content="${session.memId}">
    
<th:block th:replace="~{frontend/fragments/commonCSS :: commonCSS}"></th:block>
    
    <!-- script
    ================================================== -->
    <script th:src="@{/js/frontend/modernizr.js}"></script>
</head>
<body>
<!-- 引用header -->
<div th:replace="frontend/fragments/header :: header"></div>
<section class="hero-section bg-gray d-flex align-items-center justify-content-center padding-medium pb-5">
    <div class="hero-content">
        <div class="container">
            <div class="row">
                <div class="text-center padding-medium no-padding-bottom">
                    <h1>FanWorld</h1>
                        <div class="breadcrumbs">
                <span class="item">
                  <a th:href="@{/frontend/index}">Home</a>
                </span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ========================以下區域可放置其他內容======================== -->





<!-- ========================以上區域可放置其他內容======================== -->

<!-- 引用chat -->
<div th:replace="frontend/fragments/chatbox :: chatbox"></div>

<!-- 引用footer -->
<div th:replace="frontend/fragments/footer :: footer"></div>

<!-- 共用JS -->
<th:block th:replace="frontend/fragments/commonJS :: commonJS"></th:block>


</body>
</html>